@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);



.title {
  margin-bottom: 1rem;
}

.menu {
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.Login {
    background-color: transparent;
    width: 50%;
    height: 700px;
    padding: 30px;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin: auto;
}

#entrar {
  width: 100px;
  margin: 20px;
}

label {
  font-size: 20px;
  font-family: 'Gloria Hallelujah';
  color: #fff;
  border-color: #fff;
  margin: 10px;
}

form{
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
}

#atributes {
  flex-direction: column;
  display: flex;
  text-align: right;
  width: 45%;
  margin: 3px;
}

#response {
  flex-direction: column;
  display: flex;
  text-align: left;
  margin: 3px;
  width: 55%;
}

#container1 {
  flex-direction: row;
  display: flex;
  margin: auto;
}

#entrar {
  text-align: center;
}

#entrar:hover{
  color: black;
  background-color: white;
}

#error {
  color: yellow;
}

a{
  padding: 0px 30px;
}

label input {
  text-align: left;
  padding-left: 15px;
}

#logout {
  float: right;
  margin-right: 2%;
  margin-top: 1%;
}

