.pic-profile {
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    box-shadow: 0 0 0 2px #fff;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
}

.member {
    padding: 10px 40px 10px 40px;
    width: 35%;
}

.description {
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.5;

}

h1{
    font-size: 3rem;
    text-align: center;
    line-height: 1.5;
    margin-top: 0px;
}
