.unirme-partida{
    display: column;
    text-align: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 150px 0;
}

.unirme-partida > * {
    margin: 100px 0;
  }

.formulario input{
    margin: 10px;
    width: 100px;
    height: 30px;
}

.separacion > * {
    margin: 30px 0;
  }

  