@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
}
body {
	margin: 0; padding: 0;
	font-family: 'Gloria Hallelujah', cursive;
  color: white;
  -webkit-text-stroke: 0.05px black;
}

button {
  font-family: 'Gloria Hallelujah';
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  background: none;
  text-align: center;
  text-decoration: none;
  width: 180px;
  font-size: 18px; /* establecer el tamaño de la letra deseado */
}

button:hover {
  color: black;
  background-color: white;
}

#mainMenu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.botones {
  position: absolute;
  top: 50%;
  left: 35%;
}
