@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);



.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
}

.menu {
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.botones {
  display: flex;
  justify-content: space-between;
}

.botones a {
  flex: 1;
  width: 100px;
  margin: 10px;
}
