@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

/***********BACKGROUND****************/
body {
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  background-image: url(../assets/among-us-space.svg);
}

/***********AMONG US****************/

.size {
  width: fit-content;
  height: fit-content;
  animation: move 22s infinite;
  position: absolute;
  top: 25%;
  z-index: 1;
  transform: scale(0.4);
  opacity: .5;
}
.player{
  background-color: #840931;
  border: 10px solid #000000;
  border-bottom: none;
  border-radius: 60px 80px 0 0;
  height: 200px;
  width: 140px;
  margin: auto;
  top: 50px;
  left: -15%;
  z-index: 1;
  animation: rotate 15s infinite;
}
.player:after{
  content: "";
  position: absolute;
  width: 92%;
  height: 85%;
  background-color: #EA1616;
  border-radius:58% 70% 28% 42% / 28% 56% 88% 89%;

  top: 2.5px;
  left: 6px;
}
.legs{
  height: 50px;
  width: 60px;
  background-color: #840931;
  position: absolute;
  left: -10px;
  bottom: -50px;
  border: 10px solid black;
  border-top: none;
  border-radius: 0 0 22px 22px;
  z-index: 1;
}
.legs:before{
  content: "";
  height: 37px;
  width: 40px;
  background-color: #840931;
  position: absolute;
  right: -90px;
  border: 10px solid black;
  border-top: none;
  border-radius: 0 0 22px 22px;
}
.legs:after{
  content: "";
  height: 10px;
  width: 55px;
  background-color: black;
  position: absolute;
  top: -10px;
  left: 40px;
  border-radius: 0 0 10px 0;
}
.back{
  height: 120px;
  width: 35px;
  background-color: #EA1616;
  border: 10px solid black;
  border-right: none;
  position: absolute;
  left: -45px;
  top: 65px;
  border-radius: 20px 0 0 20px;
}
.back:before{
  content: "";
  position: absolute;
  height: 78px;
  width: 26px;
  background-color: #840931;
  bottom: -0.5px;
  left: -1px;
  border-radius: 12px 0 0 8px;
}
.glass{
  height: 75px;
  width: 110px;
  background-color: #225381;
  position: absolute;
  top: 30px;
  left: 40px;
  border: 10px solid black;
  border-radius: 25px 50px 30px 30px ;
  z-index: 2;
}
.glass:before{
  content: "";
  position: absolute;
  width: 85%;
  height: 65%;
  background-color: #71D4EC;
  border-radius: 0 28px 3px 30px ;
  right: 0px;
  top: 0px;
}
.glass:after{
  content: "";
  position: absolute;
  width: 45%;
  height: 22%;
  background-color: #F7F7F7;
  left: 39px;
  top: 5px;
  border-radius: 25px;
  -webkit-transform: rotate(6deg);
      -ms-transform: rotate(6deg);
          transform: rotate(6deg);
}

#mono2 {
  animation-name: down;
  position: absolute;
  top: 0;
  right: 30%;
}
#mono2 .player, #mono2 .legs, #mono2 .legs:before, #mono2 .back::before {
  background-color: #815322;
}
#mono2 .player:after, #mono2 .back{
  background-color: #ecbf71;
}
#mono2 .player{
  animation-name: giro;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#mono3 {
  animation: none;
  position: absolute;
  top: 10%;
  right: 70%;
}
#mono3 .player, #mono3 .legs, #mono3 .legs:before, #mono3 .back::before {
  background-color: #222d81;
}
#mono3 .player:after, #mono3 .back{
  background-color: #7177ec;
}
#mono3 .player{
  animation-name: giro;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes giro {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes down {
  0% {
      top: -100%;
  }
  50% {
      top: 70%;
  }
  51% {
      top: 0%;
  }
  100% {
      top: -100%;
  }
}


@keyframes move {
  0% {
      right: 100%;
  }
  50% {
      right: -100%;
  }
  51% {
      right: -0%;
  }
  100% {
      right: 100%;
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  15% {
      transform: rotate(70deg);
  }
  30% {
      transform: rotate(215deg);
  }
  45% {
      transform: rotate(295deg);
  }
  60% {
      transform: rotate(325deg);
  }
  75% {
      transform: rotate(-420deg);
  }
  90% {
      transform: rotate(-485deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

/***********H****************/

h1{
  font-family: 'Gloria Hallelujah';
  color: #fff;
  -webkit-text-stroke: 0.001px black;
  font-size: 5rem;
}
h2{
  font-family: 'Gloria Hallelujah';
  color: #fff;
  -webkit-text-stroke: 0.001px black;
}
h3{
  font-family: 'Gloria Hallelujah';
  color: #fff;
  -webkit-text-stroke: 0.001px black;
  
}

/***********A****************/

a{
  font-family: 'Gloria Hallelujah';
  color: #fff;
  text-align: center;
  -webkit-text-stroke: 0.001px black;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 20px;
  text-decoration: none;
}

a:hover{
  color: black;
  background-color: white;
}

/***********P****************/

p{
  font-family: 'Gloria Hallelujah';
  color: #fff;
  -webkit-text-stroke: 0.001px black;
}

/***********FORM****************/


input{
  border: 2px solid #fff;
  border-radius: 70px;
  width: 50%;
  outline: none;
  background-color: transparent;
  color: white;
  font-family: 'Gloria Hallelujah';
  text-align: center;
}

button {
  border: 2px solid #fff;
  border-radius: 60px;
  outline: none;
  background-color: transparent;
  color: white;
  font-family: 'Gloria Hallelujah';
  text-align: center;
}

button:hover{
  background-color: white;
  color: black;
}

.Logout-container {
  height: 60px;
}
